.header {
	display flex
	align-items center

	&__brand {
		a { display: block }

		img {
			height 35px
		}
	}

	&__menu {
		ul {
			& > li { display: inline-block }
		}
	}

	&__search {

	}

	&__write-btn {

	}

	&__auth {

	}
}
