.header {
	display flex
	align-items center
	justify-content space-between

	text-align center
	font-size .9em

	padding 0 10px

	& > * {
		flex none
		flex-basis content
	}

	a {
		&, &:visited, /button {
			color #000
		}

		&:hover, /button:hover {
			color var(--links-hover-color)
		}
	}

	&__brand {
		a { display block }

		img {
			height 35px
		}
	}

	&__menu {
		ul {
			& > li {
				display inline-block

				& > * {
					vertical-align middle
				}

				&:not(:first-of-type) {
					margin-left 15px
				}
			}
		}

		.fresh-badge {
				background-color: #e25a76;

				font-size: .8em;
				color: #fff;

				border-radius: 2px;
				padding: 0 4px;

		}
	}

	&__search button, &__auth a {
		display block

		& > * {
			display inline-block
			vertical-align middle

			pointer-events none
		}

		img {
			height 20px
		}

		span {
			margin-left 5px
		}
	}

	&__search {
		button {
			background-color transparent
			border 0
		}
	}

	&__write-btn {
		a {
			border 1px solid #ccc
			border-radius 4px

			padding 5px 10px

			background-color #fff

			&:hover {
				color #fff
				background-color var(--links-hover-color)
			}
		}
	}

	&__auth {

	}
}

@media screen and (max-width 679px) {
	.header {
		&__menu {
			ul {
				li:first-child {
					display none
				}
			}
		}
		&__search, &__auth {
			span {
				display none
			}
		}
	}
}

@media screen and (max-width 499px) {
	.header {
		&__menu, &__write-btn {
			display none
		}
	}
}
