body, .main, .screen {
	overflow hidden
}

.screen {
	&-start {
		.background {
			--img-tinkoff-pos top 50px right 250px
			--img-tinkoff-size 90px

			--img-money-pos bottom 70px right 450px
			--img-money-size 200px

			--img-paper-pos right bottom
			--img-paper-size 400px

			background-image url($imgPath/screen_start/tinkoff.png?v=$_V), url($imgPath/screen_start/money.png?v=$_V), url($imgPath/screen_start/paper.png?v=$_V)

			background-repeat no-repeat

			background-size var(--img-tinkoff-size), var(--img-money-size), var(--img-paper-size)

			background-position var(--img-tinkoff-pos), var(--img-money-pos), var(--img-paper-pos)
		}

		.start {
			width fit-content
			max-width 500px

			position relative

			margin-top 100px
			margin-bottom 50px
			margin-left 100px

			z-index 1

			&__badge {
				width min-content
				padding 5px 10px

				position absolute
				top -35px; right -10px

				@supports not (-webkit-appearance none) {
					& {
						right 0px
					}
				}

				@supports (-ms-ime-align:auto) {
					& {
						width 60px
					}
				}

				background-color #e25a76

				color #fff

				cursor default

				&:after {
					content ''

					position absolute
					bottom -15px; right 0

					width 0; height 0

					border-top 15px solid #ba4961
					border-right 15px solid transparent
				}
			}

			&__title {
				font-size 2em
			}

			&__text {
				margin-top 20px
			}

			&__btn {
				font-size 1em !important

				button {
					background-color #fff
					border 0

					box-shadow 0px 15px 22px rgba(#000, .2)

					padding 10px 40px

					font-weight 500
					font-size 1.3em

					&:hover {
						opacity .8
					}
				}
			}
		}
	}

	&-test {
		$question = '.question'

		{$question} {
			width 500px
			margin 30px auto 0

			position relative

			&:not([data-answered]) {
				{$question} {
					&__next-btn {
						display none
					}
				}
			}

			&[data-answered] {
				{$question} {
					&__answers {
						li:not([data-selected]) {
							display none
						}
					}
				}
			}

			&__title {
				margin-top 20px

				font-size 1.5em

				line-height 1.5
				font-weight 500
			}

			&__answers {
				--_border-color #edcdd3
				--_text-color #000

				margin-top 20px

				li {
					list-style none

					&:not([data-selected]) {
						button {
							&:hover {
								opacity .8
							}
						}
					}

					&[data-selected] {
						button {
							font-weight 500

							cursor default
						}
					}

					&[data-right] {
						--_border-color #43a457
						--_text-color #43a457
					}

					&[data-wrong] {
						--_border-color #e25a76
						--_text-color #e25a76
					}

					&:not(:first-child) {
						margin-top 10px
					}
				}

				button {
					background-color #fff

					border solid 2px var(--_border-color)

					text-align left

					font-size 1.05em
					color var(--_text-color)

					padding 10px 40px
				}
			}

			&__explanation {
				margin-top 20px

				line-height 1.5

				&:empty {
					display none
				}
			}
		}
	}

	&-final {
		.background {
			background-repeat no-repeat

			background-size 400px
			background-position center right

			results = { '0': 'footballer', '3': 'tyan', '5': 'hand', '7': 'ded', '8': 'panfilov' }

			for key, $image in results {
				&[data-score-key=\'{key}\'] {
					background-image url($imgPath/screen_final/$image.png?v=$_V)
				}
			}

			&[data-score-key='5'] {
				background-size 300px
				background-position bottom 50px right
			}

			&[data-score-key='7'] {
				background-size 350px
			}

			&[data-score-key='0'], &[data-score-key='8'] {
				background-size 550px
			}
		}

		.final {
			width fit-content
			max-width 500px

			position relative

			margin-top 30px
			margin-left 250px

			z-index 1

			&__text {
				margin-top 50px

				font-size 2.5em
				line-height 1.2
			}

			&__share {
				margin-top 30px

				.likely {
					display flex

					&__widget {
						display flex
						vertical-align middle

						& > * {
							vertical-align middle
						}

						width fit-content; height 50px
						min-width 50px

						justify-content center
						align-items center

						background-color #fff
						box-shadow 0px 15px 22px rgba(#000, .2)

						font-size 1.1em

						cursor pointer
						user-select none

						&--facebook {
							padding 0 15px
							color #4267b2
						}

						&:not(:first-child) {
							margin-left 15px
						}

						&:hover {
							opacity .8
						}
					}

					&__icon {
						&, & svg {
							width 1.3em; height 1.3em
						}

						colors = { 'facebook': #4267b2, 'vkontakte': #5b88bd, 'twitter': #1da1f2, 'telegram': #0088cc }

						for key, value in colors {
							&--{key} path {
								fill value
							}
						}
					}
				}
			}
		}
	}

	.bottom-btn {
		position fixed
		bottom 50px

		background-color transparent
		border 0

		font-size 1.4em
		font-weight 500

		span, img {
			display inline-block
			vertical-align middle
			pointer-events none
		}

		&:hover {
			color var(--links-hover-color)
		}

		.icon {
			margin-left 5px
		}
	}
}

@media screen and (max-width 959px) {
	.screen {
		&-start {
			.background {
				--img-tinkoff-pos top 5px left 400px
			}

			.start {
				margin-top 120px
			}
		}

		&-final {
			.final {
				margin-left 200px
			}
		}
	}
}

@media screen and (max-width 699px) {
	.screen {
		&-start {
			.background {
				--img-tinkoff-pos top -5px left 300px

				--img-money-pos bottom 120px left 50px
				--img-money-size 150px

				--img-paper-size 350px
			}

			.start {
				margin-left 50px
			}
		}

		&-final {
			.background {
				&[data-score-key='0'] {
					//background-position bottom 50px right
				}

				&[data-score-key='3'] {
					background-size 300px
					background-position bottom 40px right -50px
				}

				&[data-score-key='5'] {
					background-size 200px
					background-position center right
				}

				&[data-score-key='7'] {
					background-image url($imgPath/screen_final/ded-suffering.png?v=$_V)
					background-size 280px
					background-position bottom right
				}

				&[data-score-key='0'], &[data-score-key='8'] {
					background-size 450px
				}
			}

			.final {
				margin-left 50px

				&__text {
					width calc(100% - 100px)
				}
			}
		}
	}
}

@media screen and (max-width 629px) {
	.screen {
		.background {
			display none
		}

		&-start {
			.start {
				margin-top 70px
				margin-right 20px

				&__badge {
					left -15px

					&:after {
						left 0
					}
				}
			}
		}

		&-test {
			.question {
				width auto
				padding 0 20px

				&__title {
					margin-top 5px
					font-size 1em
				}

				&__answers {
					button {
						width 100%
						padding 5px 5px
						text-align center
					}
				}
			}
		}

		&-final {
			.final {
				margin-left 20px

				&__text {
					margin-top 20px
					width auto
				}

				&__share {
					margin-top 30px

					.likely {
						display flex

						&__button {
							display none
						}
					}
				}
			}
		}

		.bottom-btn {
			bottom 40px
		}
	}
}
