template#final
	div.final
		div.final__score

		h3.final__text

		ul.final__share

		button.question__next-btn(data-action='next')
			span Пройти ещё раз
			img(src=`${PATHS.img}/refresh-arrow.svg?v=${_V}` alt='refresh arrow')

	div.background
