template#final
	div.final
		div.final__score

		h3.final__text

		div.final__share
			div.likely.likely--no-counters.likely--custom(data-title=`Тест: ${TITLE}` data-url='./')
				div.facebook Поделиться
				div.vkontakte
				div.twitter(data-via='vcru')
				div.telegram

		button.final__refresh-btn.bottom-btn(data-action='final')
			span Пройти ещё раз
			img.icon(src=`${PATHS.img}/refresh-arrow.svg?v=${_V}` alt='refresh arrow')
