template#question
	div.question
		div.question__counter

		h3.question__title

		ul.question__answers

		p.question__explanation

		button.question__next-btn(data-action='next')
			span Продолжить
			span.arrow →
