- const TITLE = 'Как хорошо вы разбираетесь в новостях бизнеса'

- const DESCRIPTION = 'По следам публикаций на vc.ru.'

- const FONT_URL = 'https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&amp;subset=cyrillic,cyrillic-ext,latin-ext'
